.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

button {
    background-color: #394867;
    color: white;
    padding: 1em;
    outline: none;
    border: none;
    border-radius: 4px;
}